mouse_mode true
pane_frames false
simplified_ui true
theme "catppuccin"

themes {
  catppuccin {
    bg 18
    fg 8
    red 9
    blue 14
    green 4
    yellow 2
    magenta 5
    orange 3
    cyan 6
    black 16
    white 7
  }
}

ui {
	pane_frames {
		hide_session_name true
	}
}

keybinds {

	locked {
		bind "Super shift g" { SwitchToMode "normal"; }
	}

	shared_except "locked" {

		bind "Super f" { ToggleFloatingPanes; }
		bind "Super Shift f" { TogglePaneEmbedOrFloating; }

		bind "Super p" { NewPane; }
		bind "Super t" { NewTab; }
		bind "Super i" { MoveTab "Left"; }
		bind "Super o" { MoveTab "Right"; }

		bind "Super shift t" { SwitchToMode "tab"; }
		bind "Super shift p" { SwitchToMode "pane"; }
		bind "Super shift s" { SwitchToMode "session"; }
		bind "Super shift g" { SwitchToMode "locked"; }

		bind "Super Up"    { MoveFocus "Up"; }
		bind "Super Left"  { MoveFocusOrTab "Left"; }
		bind "Super Right" { MoveFocusOrTab "Right"; }
		bind "Super Down"  { MoveFocus "Down"; }

		bind "Super Shift +" { Resize "Increase"; }
		bind "Super Shift -" { Resize "Decrease"; }
		bind "Super Shift Right" { PreviousSwapLayout; }
		bind "Super Shift Left" { NextSwapLayout; }

		bind "Super e" {
			LaunchOrFocusPlugin "zellij:session-manager" {
				floating false
			}
		}

	}
}
