layout {
	swap_tiled_layout name="vertical" {
		tab max_panes=5 {
			pane split_direction="vertical" {
				pane
					pane { children; }
			}
		}
		tab max_panes=8 {
			pane split_direction="vertical" {
				pane { children; }
				pane { pane; pane; pane; pane; }
			}
		}
		tab max_panes=12 {
			pane split_direction="vertical" {
				pane { children; }
				pane { pane; pane; pane; pane; }
				pane { pane; pane; pane; pane; }
			}
		}
	}

	swap_tiled_layout name="horizontal" {
		tab max_panes=5 {
			pane
				pane
		}
		tab max_panes=8 {
			pane {
				pane split_direction="vertical" { children; }
				pane split_direction="vertical" { pane; pane; pane; pane; }
			}
		}
		tab max_panes=12 {
			pane {
				pane split_direction="vertical" { children; }
				pane split_direction="vertical" { pane; pane; pane; pane; }
				pane split_direction="vertical" { pane; pane; pane; pane; }
			}
		}
	}

	swap_tiled_layout name="stacked" {
		tab min_panes=5 {
			pane split_direction="vertical" {
				pane
					pane stacked=true { children; }
			}
		}
	}

	swap_floating_layout name="staggered" {
		floating_panes
	}

	swap_floating_layout name="enlarged" {
		floating_panes max_panes=10 {
			pane { x "5%"; y 1; width "90%"; height "90%"; }
			pane { x "5%"; y 2; width "90%"; height "90%"; }
			pane { x "5%"; y 3; width "90%"; height "90%"; }
			pane { x "5%"; y 4; width "90%"; height "90%"; }
			pane { x "5%"; y 5; width "90%"; height "90%"; }
			pane { x "5%"; y 6; width "90%"; height "90%"; }
			pane { x "5%"; y 7; width "90%"; height "90%"; }
			pane { x "5%"; y 8; width "90%"; height "90%"; }
			pane { x "5%"; y 9; width "90%"; height "90%"; }
			pane focus=true { x 10; y 10; width "90%"; height "90%"; }
		}
	}

	swap_floating_layout name="spread" {
		floating_panes max_panes=1 {
			pane {y "50%"; x "50%"; }
		}

		floating_panes max_panes=2 {
			pane { x "1%"; y "25%"; width "45%"; }
			pane { x "50%"; y "25%"; width "45%"; }
		}

		floating_panes max_panes=3 {
			pane focus=true { y "55%"; width "45%"; height "45%"; }
			pane { x "1%"; y "1%"; width "45%"; }
			pane { x "50%"; y "1%"; width "45%"; }
		}

		floating_panes max_panes=4 {
			pane { x "1%"; y "55%"; width "45%"; height "45%"; }
			pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
			pane { x "1%"; y "1%"; width "45%"; height "45%"; }
			pane { x "50%"; y "1%"; width "45%"; height "45%"; }
		}
	}

	default_tab_template {
		pane size=2 borderless=true {
			plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
				format_left   "{mode} {tabs}"
				format_center ""
				format_right  "#[fg=17]#[bg=17,fg=16,bold] Session#[fg=17,bg=18]#[bg=18,fg=17,bold] {session} "
				format_space  ""
				format_hide_on_overlength "true"
				format_precedence "crl"
				border_enabled  "false"
				border_char     "─"
				border_format   "#[fg=6C7086]{char}"
				border_position "top"

				mode_normal        "#[fg=17]█#[bg=17,fg=16,bold]NORMAL#[fg=17,bold]"
				mode_locked        "#[fg=15]█#[bg=15,fg=16,bold]LOCKED  #[fg=15,bold]"
				mode_resize        "#[fg=1]█#[bg=1,fg=16,bold]RESIZE#[fg=1,bold]"
				mode_pane          "#[fg=10]█#[bg=10,fg=16,bold]PANE#[fg=10,bold]"
				mode_tab           "#[fg=13]█#[bg=13,fg=16,bold]TAB#[fg=13,bold]"
				mode_scroll        "#[fg=11]█#[bg=11,fg=16,bold]SCROLL#[fg=11,bold]"
				mode_enter_search  "#[fg=17]█#[bg=17,fg=16,bold]ENT-SEARCH#[fg=17,bold]"
				mode_search        "#[fg=17]█#[bg=17,fg=16,bold]SEARCHARCH#[fg=17,bold]"
				mode_rename_tab    "#[fg=13]█#[bg=13,fg=16,bold]RENAME-TAB#[fg=13,bold]"
				mode_rename_pane   "#[fg=17]█#[bg=17,fg=16,bold]RENAME-PANE#[fg=17,bold]"
				mode_session       "#[fg=5]█#[bg=5,fg=16,bold]SESSION#[fg=5,bold]"
				mode_move          "#[fg=9]█#[bg=9,fg=16,bold]MOVE#[fg=9,bold]"
				mode_prompt        "#[fg=17]█#[bg=17,fg=16,bold]PROMPT#[fg=17,bold]"
				mode_tmux          "#[fg=6]█#[bg=6,fg=16,bold]TMUX#[fg=6,bold]"

				tab_normal              "#[fg=18]#[bg=18,fg=17,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{floating_indicator}#[fg=18,bold]"
				tab_normal_fullscreen   "#[fg=18]#[bg=18,fg=17,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{fullscreen_indicator}#[fg=18,bold]"
				tab_normal_sync         "#[fg=18]#[bg=18,fg=17,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{sync_indicator}#[fg=18,bold]"

				tab_active              "#[fg=17]#[bg=17,fg=16,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{floating_indicator}#[fg=18,bold]"
				tab_active_fullscreen   "#[fg=17]#[bg=17,fg=16,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{fullscreen_indicator}#[fg=18,bold]"
				tab_active_sync         "#[fg=17]#[bg=17,fg=16,bold]{index}#[fg=17,bg=18]#[bg=18,fg=17,bold] {name}{sync_indicator}#[fg=18,bold]"

				tab_separator           "#[bg=#00000000] "

				tab_sync_indicator       "  "
				tab_fullscreen_indicator " 󰊓 "
				tab_floating_indicator   " 󰹙 "
				command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
				command_git_branch_format      "#[fg=blue] {stdout} "
				command_git_branch_interval    "10"
				command_git_branch_rendermode  "static"
				datetime        "#[fg=6C7086,bold] {format} "
				datetime_format "%A, %d %b %Y %H:%M"
				datetime_timezone "Africa/Casablanca"
			}
		}

		children

	}
}

